:root {
    --color-black: #332e30;
    --color-black-l40: #858081;
    --color-black-l70: #c2bebf;
    --color-black-l85: #e0dedf;
    --color-black-l95: #f5f3f3;
    --color-black-o0: rgba(51 41 44 / 0%);
    --color-black-o15: rgba(51 41 44 / 15%);
    --color-black-o20: rgba(51 38 43 / 20%);
    --color-black-o30: rgba(51 38 43 / 30%);
    --color-black-o40: rgba(51 43 46 / 40%);
    --color-black-o5: rgba(26 10 15 / 5%);
    --color-black-o50: rgba(51 43 46 / 50%);
    --color-black-o60: rgba(51 43 46 / 60%);
    --color-blue: #002d72;
    --color-blue-d10: #002359;
    --color-blue-l5: #0d3a80;
    --color-blue-o0: rgba(0 45 114 / 0%);
    --color-blue-o15: rgba(0 45 114 / 15%);
    --color-blue-o20: rgba(0 45 114 / 20%);
    --color-blue-o30: rgba(0 45 114 / 30%);
    --color-blue-o40: rgba(0 45 114 / 40%);
    --color-blue-o50: rgba(0 45 114 / 50%);
    --color-blue-o60: rgba(0 45 114 / 60%);
    --color-coral: #ff617e;
    --color-coral-d10: #ee4363;
    --color-coral-d5: #ff5473;
    --color-coral-l10: #ff7a93;
    --color-coral-o0: rgba(255 97 126 / 0%);
    --color-coral-o15: rgba(255 97 126 / 15%);
    --color-coral-o20: rgba(255 97 126 / 20%);
    --color-coral-o30: rgba(255 97 126 / 30%);
    --color-coral-o40: rgba(255 97 126 / 40%);
    --color-coral-o50: rgba(255 97 126 / 50%);
    --color-coral-o60: rgba(255 97 126 / 60%);
    --color-cyan: #009fdf;
    --color-cyan-alt: #0096d2;
    --color-cyan-d5: #0096d2;
    --color-cyan-d5-o30: rgb(0 150 210 / 30%);
    --color-cyan-l40: #66c5ec;
    --color-cyan-l60: #99d9f2;
    --color-cyan-l60-o0: rgba(153 217 242 / 0%);
    --color-cyan-l60-o15: rgba(153 217 242 / 15%);
    --color-cyan-l60-o20: rgba(153 217 242 / 20%);
    --color-cyan-l60-o30: rgba(153 217 242 / 30%);
    --color-cyan-l60-o40: rgba(153 217 242 / 40%);
    --color-cyan-l60-o50: rgba(153 217 242 / 50%);
    --color-cyan-l60-o60: rgba(153 217 242 / 60%);
    --color-cyan-l70: #b6e7fa;
    --color-cyan-l80: #ccecf9;
    --color-cyan-o0: rgba(0 159 223 / 0%);
    --color-cyan-o15: rgba(0 159 223 / 15%);
    --color-cyan-o20: rgba(0 159 223 / 20%);
    --color-cyan-o30: rgba(0 159 223 / 30%);
    --color-cyan-o40: rgba(0 159 223 / 40%);
    --color-cyan-o50: rgba(0 159 223 / 50%);
    --color-cyan-o60: rgba(0 159 223 / 60%);
    --color-traffic-green: #52cc7b;
    --color-traffic-red: #d9576f;
    --color-traffic-yellow: #f2c248;
    --color-transparent: transparent;
    --color-white: #fff;
    --color-white-o0: rgba(255 255 255 / 0%);
    --color-white-o15: rgba(255 255 255 / 15%);
    --color-white-o30: rgba(255 255 255 / 30%);
    --color-white-o40: rgba(255 255 255 / 40%);
    --color-white-o50: rgba(255 255 255 / 50%);
    --color-white-o60: rgba(255 255 255 / 60%);
}
